.ver {
    display: block;
}

.noVer {
    display: none;
}

.tarjeta {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.likeButton,
.crossButton {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px 30px 10px 30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 9px 17px 0px #cfcfcf;
}

.likeButton img,
.crossButton img {
    width: 30px;
    height: 30px;
}

.artist-img {
    width: 272px;
    height: 272px;
    border-radius: 0px 20px 0px 20px;
    margin-right: 10px;
    box-shadow: 4px 9px 17px 0px #cfcfcf;
    /*  width: 100px; height: 100px; background-color:#ffe672; 
    width: 100px; height: 100px; background-color:#ffe672; 
    animation-name: rotate-in-br-anticlock;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none; */

    background-color: #ffe672;
    animation-name: slit-in-horizontal;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;

}

.artist-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}




@keyframes slit-in-horizontal {

    0% {
        transform: translateZ(-800px) rotateX(90deg);
        opacity: 0;
    }

    50% {
        transform: translateZ(-160px) rotateX(87deg);
        opacity: 1;
    }

    100% {
        transform: translateZ(0) rotateX(0);
    }

}

    /*  
@keyframes rotate-in-br-anticlock {
        
    0% {
        transform:rotate(45deg);
        transform-origin:100% 100%;
        opacity:0;
    }
    100% {
        transform:rotate(0);
        transform-origin:100% 100%;
        opacity:1;
    } */