.ver{
    display: block;
}

.noVer{
    display: none;
}

.tarjeta {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.likeButton,
.crossButton {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:12px 18px 73px 1px #8c8c8c ;

}

.likeButton img,
.crossButton img {
    width: 30px;
    height: 30px;
}

.artista-img {
    width: 272px;
    height: 272px;
    border-radius: 0px 20px 0px 20px;
    margin-right: 10px;

}   
