.angry-multigradient {
    width: 360px;
    height: 640px;
    background-image: linear-gradient(
        rgba(255, 142, 10, 0.12) 40px,
        rgba(255, 142, 10, 0.03) 90px,
        rgba(253, 254, 255, 0) 160px
      );
    }