.angry-multigradient {
  width: 368px;
  height: 792px;
    background-image: linear-gradient(
        rgba(255, 142, 10, 0.12) 40px,
        rgba(255, 142, 10, 0.03) 90px,
        rgba(253, 254, 255, 0) 160px
      );
      margin: auto;
      margin-top: 64px;
    }