.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 24px;
    font-size: 17px;
}

.icons {
    display: flex;
    gap: 10px; 
}

.btn{
    background:none;
    border:none;
    padding: 0; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;  
}

.item {
    display: flex;
    width: 320px;
    height: 80px;
    gap: 10px; 
    border-radius:  24px 24px 0 24px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    
}

.item div {
    display: flex;
    flex-direction: column;
}

.item img {
    border-radius: 0 0 0 24px;
}

.item h2{
   font-size: 14px;
   margin-bottom: 10px;
   margin-top: 7px;
}

.item p{
    font-size: 12px;
    line-height: 18px;
}

