.header{
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 20px;
}

.arrow{
    width: 30px;
    height: 30px;
}

.header__titulo{
    width: 100%;
    display: flex;
    justify-content: center;  
    font-weight: bold;
}
