.conteiner__registro2{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    width: 368px;
    height: 730px;
}

.registro__titulo2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 1.8rem;
}

.registro__parrafo2{
    font-size: 1.4rem;
    font-weight: 500;
}

.registro__input2{
    padding: 10px;
    margin: 10px 0;
    width: 100%;   
    border-radius: 0px 16px 0px 16px;  
    font-size: 16px;
    border: 1px solid #BFC0C1;
    margin-bottom: 30px;
}

.registro__input2:focus{
    outline: none;
    border: 2px solid #FF8E0A
}

.registro__boton2{
    height: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* margin-bottom: 30px; */
}

.boton__registro2{ 
    padding: 12px 50px;
    margin: 10px 0;
    width: 100%;   
    border-radius: 0px 16px 0px 16px;
    border: none;
    background-color: #FF8E0A;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    z-index: 2;
    position: relative;   
}
.disabled-btn {
    background-color: #ccc;
    color: #666; 
    cursor: not-allowed; 
    margin-top: 5rem;
  }
  
.contenedor__checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px
}

.checkbox__label{
    font-size: 0.76rem;
    font-weight: 400;
}

.TyC{
    color: #FF8E0A;
}

.registro__password{
    position: relative;
}

.eye-icon2 {
    position: absolute;
    width: 28px;
    height: 27px;
    right: 15px;
    top: 16px;
    z-index: 3;
    cursor: pointer;
}
