.fixed-bar{
    width: 100%;
    max-width: 368px;
    position: fixed;
    bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.icono-barra{
   width: 27px;
   height: auto;
}


@media (max-width: 600px) {
    .icono-barra{
       width: 27px;
    }
}