
.fixed-bar{
    width: 368px;
    position: fixed;
    bottom: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.icono-barra{
   width: 27px;
   height: auto;
}